

/* stile sidebar sinistra */
#leftsidebar {
    width: 350px;
    background-color: black;
    z-index: 2000;
}
#rightsidebar {
    width: 220px;
    height: 100vh;
    background-color: black;
}
.first-div-sbr {
    border: 1px solid white;
}
.heart {
    color: white;
    background: linear-gradient(to bottom right, rgb(64, 19, 184), rgb(123, 143, 136));
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 18px;
    border-radius: 3px;
}
.mybookmark {
    color: rgb(20, 150, 67);
    background-color: rgb(0, 69, 55);
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 18px;
    border-radius: 3px;
}
.bi-three-dots {
    font-size: 25px;
    color: rgb(108, 117, 125);
    margin-left: 14px;
}
.bi-house-door , .bi-search , .bi-distribute-horizontal, .bi-plus-square-fill   {
    font-size: 25px;
    margin-right: 18px;
}
.bi-house-door:hover:before {
    content: "\f422";
}
/* fine stile sidebar sinistra */


/* inizio stile utility section nel main */
.utility-btns {
    display: flex;
    align-items: center;
    position: absolute;
    left: 18px;
    top: 17px;

}
.nav-btns {
    color: rgb(108, 117, 125);
    font-size: 12px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.208) ;
    margin-left: 14px;
    transition: 0.3s ease-in-out;
}
.nav-btns:hover {
    color: white;
    background-color: black;
}
.utility-sect {
    padding: 15px;
}


/* stile user-account */
#accountsect {
    margin-right: 25px;
}
.user-account {
    border: 4px solid black;
    border-radius: 30px;
    background-color: black;
    
    transition: 0.5s ease-in-out;
}
.user-account:hover{  
    box-shadow: 0px 0px 5px rgb(30, 215, 96);
}
.accountimg {
    width: 30px;
    border-radius: 20px;
    margin-right: 5px;
}
/* fine stile user account */


/* stile dropdown user-account */
#accountdrop {
    background-color: rgb(0, 0, 0);
}
.dropdown-item:hover {
    background-color: black;
    text-shadow: 0px 0px 10px rgb(30, 215, 96);
    transition: 0.4s ease-in-out;
}
/* fine stile utility section */

/* Stilizzo l'intera barra di scorrimento */
::-webkit-scrollbar {
    width: 8px; 
  }
  
  /* Stilizzo la traccia (parte della barra dove si muove il thumb) */
  ::-webkit-scrollbar-track {
    background: black; 
  }
  
  /* Stilizzo il thumb (la parte della barra che si muove) */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px;
  }
  
  /* Cambio il colore del thumb al passaggio del mouse */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  
/* inizio stile sidebar destra e relativo colapse */
.colapse-sidebar{
    background-color: rgb(12, 12, 12) ;
}
.colapse-sidebr-btn {
    background-color: rgb(40, 40, 40);
    right: 0px;
    width: 10px;
    height: 100px;
    margin-top: 70px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 0;
    transition: 0.4s ease-in-out;
    animation: pulseColapseBtn 4s infinite;
}
.colapse-sidebr-btn .bi {
    display: none;
    transition: opacity 0.5s linear 1s, visibility 0s linear 1s;
}
.colapse-sidebr-btn:hover .bi {
    color: rgb(30, 215, 96);
    opacity: 1;
    transition: opacity 0.5s linear, visibility 0s linear;
}
.colapse-sidebr-btn:hover {
    width: 20px;
    background-color: rgb(40, 40, 40);
    box-shadow: 0px 0px 5px rgb(30, 215, 96);
}
#rightsidecollapse {
    transition: all 0.4s ease-in-out 0s;
}

#main-content {
    background: linear-gradient(190deg , rgb(40, 40, 40) 30%, rgb(12, 12, 12) 60%);
}

/* stilizzo la card del brano nel carosello */
.showcarousel-btn {
    color: rgb(108, 117, 125);
    right: 70px;
    top: 70px;
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    font-size: 18px;
    font-family: sans-serif;
    box-shadow: 3px 3px 5px rgb(31, 31, 31);
    z-index: 1000;
}


#artist-content {
    width: 95%;
    margin-left: 30px;
    padding: 10px;
    background: linear-gradient(13deg, black 30%, rgb(40,40,40)70%);
    border-radius: 5px;
}
.album-img{
    width: 250px;
    height: 250px;
    margin: 20px 10px;
}
.song-title {
    font-size: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-item {
    transition: transform .3s ease-in-out;
}

.card-body {
    color: white;
    margin-left: 10px;
}

.btn.btn-success, .btn.btn-dark {
    height: 50px;
    border-radius: 25px;
    padding: 10px 35px;
}

.btn.btn-dark {
    background-color: black;
    border: 1px solid rgb(108, 117, 125);
}

.btn.btn-success {
    color: black;
    background-color: rgb(30, 215, 96);
    margin-right: 15px;
    font-weight: bold;
}

/* inizio stile sezione playlists */
.playlists-section {
    margin-left: 30px;
}
.playlists {
    width: 97%;
}
.playlist {
    width: 460px;
    height: 80px;
    border-radius: 5px;
    background-color: rgb(60, 60, 60);

}
.playlst-img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: 20px;
}
.plist-text {
    margin-top: 16px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
}




/*Inizio stile navbar bottom*/

.navbar.navbar-lg.bg-dark{
    width: 100vw;
    z-index: 2000;
    position: fixed;
    bottom: 0;
    color: white;
}
.reproduction {
    color: white;
    display: flex;
    justify-content: space-between;
}

.home-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.bi.bi-play-circle-fill {
    font-size: 30px;
}

.home-bottom a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#minuts-div {
    width: 500px;
    background-color: rgb(108, 117, 125);
    height: 3px;
    margin: 5px;
}


#volume{
    width: 100px;
    background-color: rgb(108, 117, 125);
    height: 3px;
    margin: 5px;
}


.artist-name {
    cursor: pointer;
}







/* CSS pagina Album */
#album-main{
    background: linear-gradient(to bottom, rgb(254,220 ,89) 20%, rgb(12, 12, 12) 70% );
}
.album-img1 {
    width: 28px;
    border-radius: 50%;
}
.album-texts{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 25px;
    color: rgb(255, 255, 255);


}
#album-title{
   font-size: 70px;
}
#icone-brani{
    color: white;
    font-size: 30px;
    align-items: center;
    gap: 15px;
}

#icone-brani .bi.bi-play-circle-fill{
    color:rgb(0, 128, 0);
    font-size: 60px;

}
.top-canzoni{
    color: white;
    border-bottom: 1px solid rgb(108, 117, 125); /* da verificare il colore del bordo*/
}















@keyframes pulseColapseBtn {
    0%, 100% {
        box-shadow: 0px 0px 1px rgb(30, 215, 96);
    }
    50% {
        box-shadow: 0px 0px 10px rgb(30, 215, 96);
    }
}




