html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* stile sidebar sinistra */
#leftsidebar {
    width: 300px;
    height: 100vh;
    background-color: black;
}
#rightsidebar {
    width: 220px; /* Imposta la larghezza della sidebar destra */
    height: 100vh; /* Assicura che la sidebar abbia l'altezza della viewport */
    background-color: black;
}
.first-div-sbr {
    border: 1px solid white;
}
.heart {
    color: white;
    background: linear-gradient(to bottom right, rgb(64, 19, 184), rgb(123, 143, 136));
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 18px;
    border-radius: 3px;
}
.mybookmark {
    color: rgb(20, 150, 67);
    background-color: rgb(0, 69, 55);
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 18px;
    border-radius: 3px;
}
.bi-three-dots {
    font-size: 25px;
    color: rgb(108, 117, 125);
    margin-left: 14px;
}
.bi-house-door , .bi-search , .bi-distribute-horizontal, .bi-plus-square-fill   {
    font-size: 25px;
    margin-right: 18px;
}
.bi-house-door:hover:before {
    content: "\f422";
}
/* fine stile sidebar sinistra */


/* inizio stile utility section nel main */
.utility-btns {
    display: flex;
    align-items: center;

}
.nav-btns {
    color: rgb(108, 117, 125);
    font-size: 12px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.208) ;
    margin-left: 14px;
    transition: 0.3s ease-in-out;
}
.nav-btns:hover {
    color: white;
    background-color: black;
}
.utility-sect {
    padding: 15px;
}


/* stile user-account */
.user-account {
    border: 4px solid black;
    border-radius: 30px;
    background-color: black;
    
    transition: 0.5s ease-in-out;
}
.user-account:hover{  
    box-shadow: 0px 0px 5px rgb(30, 215, 96);
}
.accountimg {
    width: 30px;
    border-radius: 20px;
}
/* fine stile user account */


/* stile dropdown user-account */
#accountdrop {
    background-color: rgb(0, 0, 0);
}
.dropdown-item:hover {
    background-color: black;
    text-shadow: 0px 0px 10px rgb(30, 215, 96);
    transition: 0.4s ease-in-out;
}
/* fine stile utility section */

/* inizio stile sidebar destra e relativo colapse */
.colapse-sidebar{
    background-color: rgb(12, 12, 12) ;
}
.colapse-sidebr-btn {
    background-color: rgb(40, 40, 40);
    width: 10px;
    height: 100px;
    margin-top: 70px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 0;
    transition: 0.4s ease-in-out;
    animation: pulseColapseBtn 4s infinite;
}
.colapse-sidebr-btn .bi {
    display: none;
    transition: opacity 0.5s linear 1s, visibility 0s linear 1s;
}
.colapse-sidebr-btn:hover .bi {
    color: rgb(30, 215, 96);
    opacity: 1;
    transition: opacity 0.5s linear, visibility 0s linear;
}
.colapse-sidebr-btn:hover {
    width: 20px;
    background-color: rgb(40, 40, 40);
    box-shadow: 0px 0px 5px rgb(30, 215, 96);
}
#rightsidecollapse {
    transition: all 0.4s ease-in-out 0s;
    width: 220px; /* Imposta la larghezza del contenitore della sidebar destra */
}

#main-content {
    background: linear-gradient(to bottom right, rgb(15, 15, 15) 20%, rgb(12, 12, 12) 40%);
    width: 100%; /* Imposta la larghezza del contenuto principale al 100% */
    height: 100vh;
    overflow-y: auto; /* Mostra la barra di scorrimento verticale solo se necessario */
    overflow-x: hidden; /* Nascondi la barra di scorrimento orizzontale */
}



@keyframes pulseColapseBtn {
    0%, 100% {
        box-shadow: 0px 0px 1px rgb(30, 215, 96);
    }
    50% {
        box-shadow: 0px 0px 10px rgb(30, 215, 96);
    }
}


/*CSS ALBUM*/

#album-contents{
    background: linear-gradient(to top, #000000, #00aeff);
    width: 100%;
    height: 100%;
}

#cover-album{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}

#cover-album img{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.album-texts{
    width: 100%;
    height: 200px;
    margin-bottom: -80px;
}

.category{
    color: white;
    font-weight: 700;
    font-size: medium;
    margin-left: 40px;
}

#album-title{
    color: white;
    font-size: 100px;
    font-weight: 700;
    margin-left: 33px;
    margin-top: -20px;
}

#album-artist{
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 30px;
}

#album-artist img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 40px;
}

#artist, #album-data, #tracks{
    color: white;
    font-weight: 600;
    font-size: large;
    margin-top: 4px;
    margin-left: 5px;
}

#album-artist h3:not(:last-child)::after {
    content: "\00B7"; /* Carattere unicode per il punto */
    margin-right: 5px;
    color: white;
    margin-left:10px;
}

/*USER BUTTON*/

.buttons-user{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.user-button{
    width: 35px;
    margin-left: 10px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #1AC33E;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0e6d23;
}


